body{
    font-family: Arial, Helvetica, sans-serif;
}

.my-logo{
    width: 100px;
}

.my-logo-jumbo{
    width: 55%;
}

.my-jumbo{
    height: 75vh;
}

.my-jumbo-img{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-returnal{
    background-image: url(../img/jumbo-bg.png);
}

.img-itt{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.my-card img{
    width: 100%;
}

.my-card-ps-section img{
    width: 100%;
}

.my-mb{
    margin-bottom: 8rem;
}

.ps-blue{
    color: #197fd2;
    
}

.ps-grey{
    color: #7f7f7f;
}

.bg-ps-blue{
    background-color: #2d64e6;
}

.img-ps img{
    width: 100%;
}


@media screen and (min-width: 768px){
    .my-card-ps-section img{
        width: 60%;
    }
}