body{
    font-family: Arial, Helvetica, sans-serif;
}

.my-logo{
    width: 100px;
}

.my-logo-jumbo{
    width: 55%;
}

.my-logo-psplus{
    width: 340px;
}

.my-jumbo{
    height: 75vh;
}

.my-jumbo-img{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-returnal{
    background-image: url(../img/jumbo-bg.png);
}

.img-itt{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.my-card img{
    width: 100%;
}

.my-card-ps-section img{
    width: 100%;
    padding-bottom: 1.5rem;
}

.my-language{
    width: 19px;
}

.my-mb{
    margin-bottom: 8rem;
}

.my-mb-2{
    margin-bottom: 6rem;
}

.my-mt{
    margin-top: 20rem;
}

.ps-blue{
    color:  #2d64e6;
    
}

.ps-grey{
    color: #7f7f7f;
}

.my-bg-white{
    background-color: white;
}

.bg-ps-blue{
    background-color: #2d64e6;
}

.hov-b:hover{
    background-color: #0035af;
}

.hov-g:hover{
    background-color: #aeafb3;
    color: #2d64e6;
}

.hov-w:hover{
    background-color: rgb(200, 200, 200);
    color: #2d64e6;
}

.bg-ps-now{
   background-color: #161c3b;
}

.bg-grey{
    background-color: #d9dadc;
}

.bg-black-grey{
    background-color: #1f1f1f;
}

.bg-sand{
    background-color: #bebcbb;
}

.img-ps img{
    width: 100%;
}

.active-card{
    border-bottom: 3px solid #2d64e6;
}

/* .my-card-ps-section:hover{
    border-bottom: 3px solid #2d64e6;
} */

/* !RESPONSIVE */

@media screen and (min-width: 768px){
    .my-card-ps-section img{
        width: 60%;
        padding-bottom: 1.5rem;
    }
}

@media screen and (min-width:992px){
    .my-toggle-size{
        width: 50%;
    }
}